PyAudio==0.2.9
PyYAML==3.11
SpeechRecognition==3.4.3
actionlib==1.11.5
argparse==1.2.1
base-local-planner==1.12.7
baxter-examples==1.2.0
baxter-interface==1.2.0
baxter-tools==1.2.0
bitarray==0.8.1
bondpy==1.7.16
camera-calibration==1.12.16
camera-calibration-parsers==1.11.10
catkin==0.6.18
catkin-pkg==0.2.10
cloudpickle==0.2.1
controller-manager==0.9.4
controller-manager-msgs==0.9.4
controller-manager-tests==0.9.4
cv-bridge==1.11.12
cymem==1.31.1
diagnostic-analysis==1.8.9
diagnostic-common-diagnostics==1.8.9
diagnostic-updater==1.8.9
docutils==0.12
dynamic-reconfigure==1.5.43
fingertip-pressure==1.8.16
gazebo-plugins==2.4.10
gazebo-ros==2.4.10
gencpp==0.5.4
geneus==2.2.5
genlisp==0.4.15
genmsg==0.5.7
genpy==0.5.9
image-geometry==1.11.12
interactive-markers==1.11.1
laser-geometry==1.6.4
message-filters==1.11.19
moveit-commander==0.6.0
moveit-ros-planning-interface==0.7.1
moveit-ros-visualization==0.7.1
murmurhash==0.26.3
netifaces==0.10.4
nltk==3.2.1
numpy==1.11.0
plac==0.9.1
pluginlib==1.10.2
pr2-controller-manager==1.8.16
preshed==0.46.3
pyaml==15.8.2
python-dateutil==2.5.3
python-qt-binding==0.2.19
qt-dotgraph==0.2.30
qt-gui==0.2.30
qt-gui-cpp==0.2.30
qt-gui-py-common==0.2.30
resource-retriever==1.11.6
rosbag==1.11.19
rosboost-cfg==1.11.12
rosclean==1.11.12
roscreate==1.11.12
rosgraph==1.11.19
roslaunch==1.11.19
roslib==1.11.12
roslint==0.10.0
roslz4==1.11.19
rosmake==1.11.12
rosmaster==1.11.19
rosmsg==1.11.19
rosnode==1.11.19
rosparam==1.11.19
rospkg==1.0.39
rospy==1.11.19
rosservice==1.11.19
rostest==1.11.19
rostopic==1.11.19
rosunit==1.11.12
roswtf==1.11.19
rqt-action==0.3.13
rqt-bag==0.3.13
rqt-bag-plugins==0.3.13
rqt-console==0.3.13
rqt-dep==0.3.13
rqt-graph==0.3.13
rqt-gui==0.2.14
rqt-gui-py==0.2.14
rqt-image-view==0.3.13
rqt-joint-trajectory-controller==0.9.3
rqt-launch==0.3.13
rqt-logger-level==0.3.13
rqt-moveit==0.4.3
rqt-msg==0.3.13
rqt-nav-view==0.4.3
rqt-plot==0.3.13
rqt-pose-view==0.4.3
rqt-publisher==0.3.13
rqt-py-common==0.3.13
rqt-py-console==0.3.13
rqt-reconfigure==0.3.13
rqt-robot-dashboard==0.4.3
rqt-robot-monitor==0.4.3
rqt-robot-steering==0.4.3
rqt-runtime-monitor==0.4.3
rqt-rviz==0.4.3
rqt-service-caller==0.3.13
rqt-shell==0.3.13
rqt-srv==0.3.13
rqt-tf-tree==0.4.3
rqt-top==0.3.13
rqt-topic==0.3.13
rqt-web==0.3.13
rviz==1.11.14
scipy==0.17.0
semver==2.4.1
sensor-msgs==1.11.9
six==1.10.0
smach==2.0.0
smach-ros==2.0.0
smclib==1.7.16
sound-play==0.2.12
spacy==0.100.6
sputnik==0.9.3
srdfdom==0.3.0
tf==1.11.8
tf-conversions==1.11.8
tf2-geometry-msgs==0.5.13
tf2-kdl==0.5.13
tf2-py==0.5.13
tf2-ros==0.5.13
tf2-sensor-msgs==0.5.13
thinc==5.0.7
ujson==1.35
urdfdom-py==0.3.1
warehouse-ros==0.8.8
wsgiref==0.1.2
xacro==1.9.5
